# CORE WEB
fastapi>=0.115,<1.0
uvicorn[standard]>=0.30,<0.31
gunicorn>=21.2,<22
pydantic>=2.7,<3  # Разрешаем до 3.0 для новых фич

# ASYNC / HTTP
httpx>=0.27,<0.28
anyio>=4.6,<5

# TRADING
ccxt>=4.2,<5

# MONITORING
prometheus-client>=0.20,<0.21

# STORAGE / BUS
redis>=5.0,<6
aioredis>=2.0,<3

# UTIL
requests>=2.31,<3
python-dotenv>=1.0,<2
