# Подключение боевых зависимостей
-r requirements.txt

# TEST
pytest
pytest-asyncio
httpx
pytest-mock
coverage

# LINT / STYLE / ARCH
ruff
mypy
import-linter
black
isort

# Типы (минимальный набор)
types-requests
types-protobuf

# DEV
pre-commit
