# Include runtime deps
-r requirements.txt

# TEST
pytest>=8.2,<9
pytest-asyncio>=0.23,<1
pytest-mock>=3.12,<4
coverage>=7.4,<8

# LINT / STYLE / ARCH
ruff>=0.6,<0.7
mypy>=1.8,<2
black>=24.0,<25
isort>=5.13,<6
import-linter>=2.0,<3

# DEV
pre-commit>=3.6,<4
